<div class="container">
    <div class="center">
        <p>Thank you for submitting. Your subission has been recorded and will be reviewed momentarily.
         Here is what you have submitted: <em style="color: green; font-size: 2em;"><%= description %>, <%= file %></em></p>
        
        <button>
            <a href="../">Home</a>
        </button>
    </div>
</div>
