<div style="width: 50%; margin: auto; padding: 0 25px">
    <img src="../images/ps_reporting_icon.png" class="icon-right"/>
    <h1 class="title"><%= @title %></h1>
    <h4><%= @header %></h4>
</div>

<div style="width: 75%; margin: auto; padding: 10% 0">
    <h4>Thank you. Your response has been recorded and will be reviewed as soon as possible.</h4><br>
    <form action="../">
        <button class="btn btn-secondary btn-block btn-stretch" type="submit" value="../">Back to Home</button>
    </form>
</div>